:root {
    --color-background: #1f002b;
  --background-color: #1f002b;
  --text-color: white;
  --button-color: #e4229c;
  --button-hover-color: #bf1b84;
  --progress-bar-bg: #e8eaf2;
  --progress-bar-fill: #e4229c;
  --indicator-text-color: #e8eaf2;
  --subtitle-color: #c4c8cc;
  --option-button-bg-color: #36173d;
  --option-button-hover-color: #e4229c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}